<h1>Novo tipo de combustível</h1>

<%= form_for @fuel_type do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Combustível' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>
